body {
  background-color: $background;
  color: $blue-font;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: grid;
  place-items: center;
}

.main {
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.main::before {
  position: absolute;
  content: "";
  background-image: url("../images/blob-lemony.png");
  width: 158px;
  height: 141px;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.main::after {
  position: fixed;
  content: "";
  background-image: url("../images/blob-baby.png");
  width: 148px;
  height: 118px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 193px;
  height: 52px;
  background-color: $blue-btn;
  color: $white-font;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
}
