.quiz--container {
  padding-inline: 20px;

  @include breakpoint-down(sm) {
    padding-inline: 10px;
  }
}

.quiz {
  font-family: Karla;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  padding-block: 15px;
  border-bottom: 1px solid $blue-line;

  @include breakpoint-down(sm) {
    font-size: 14px;
  }

  & > p {
    margin-bottom: 12px;
  }

  & > .answers {
    display: flex;
    gap: 13px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;

    @include breakpoint-down(sm) {
      font-size: 10px;
      gap: 8px;
    }

    text-align: center;
    span {
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      @include breakpoint-down(sm) {
        font-size: 10px;
        padding-block: 5px;
        padding-inline: 3px;
      }
    }
  }
}
.score {
  font-family: Inter;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
}

.center-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  grid-row: auto;
}

.correct--selected {
  background-color: $green;
}

.correct--not--selected {
  background-color: $red;
  opacity: 0.5;
}

.not--selected--checked {
  border: 1px solid $blue-font-op;
  opacity: 0.5;
}

.not--selected {
  border: 1px solid $blue-font;
}

.selected {
  border: 1px solid $blue-selected;
  background-color: $blue-selected;
}
