$background: rgba(245, 247, 251, 1);
$white-font: rgba(245, 247, 251, 1);
$blue-font: rgba(41, 50, 100, 1);
$blue-btn: rgba(77, 91, 158, 1);
$blue-selected: rgba(214, 219, 245, 1);
$blue-line: rgba(219, 222, 240, 1);
$red: rgba(248, 188, 188, 1);
$green: rgba(148, 215, 162, 1);
